<footer class="page-footer white">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="black-text">Ce site vous est présenté par Aku</h5>
			</div>
			<div class="col l4 offset-l2 s12">
				<ul>
					<li>
						<a class="btn waves-effect waves-light grey darken-4 white-text" href="mailto:nicola_c@etna-alternance.net">M'envoyer un mail !</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright black-text">
		<div class="container">© 2015 ASC</div>
	</div>
</footer>