<div id="modal-connection" class="modal modal-fixed-footer modal-fixed-header">
	<!-- <form action="/forum/connect/{{ request.get_full_path }}" method="POST"> -->
	<form action="{% url 'connect' request.get_full_path %}" method="POST">
		{% csrf_token %}
		<div class="modal-header">
			<h5>Connexion</h5>
		</div>
		<div class="modal-content">			
			<div class="input-field">
				<label for="username">Nom d'utilisateur</label>
				<input id="username" type="text" name="username" class="validate" required="required" />
			</div>
			<div class="input-field">
				<label for="password">Mot de passe</label>
				<input id="password" type="password" name="password" class="validate" required="required" />
			</div>
		</div>
		<div class="modal-footer row">
			<button class="btn waves-effect col s12 light-green accent-4" type="submit">Connexion</button>
			<a href="{% url 'subscribe' %}" class="btn modal-action modal-close waves-effect col s12 indigo">Inscription</a>
			<a href="#" class="btn modal-action modal-close waves-effect col s12 red">Annuler</a>			
		</div>
	</form>
</div>