<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		{% if not noprofile %}
		<ul class="left hide-on-med-and-down">
			<li>
				<a href="{% url 'forumindex' %}" class="tooltipped waves-effect" data-position="bottom" data-tooltip="Accueil">
					<i class="material-icons black-text">home</i>
				</a>
			</li>
			<li>
				<a href="{% url 'forum' %}" class="tooltipped waves-effect" data-position="bottom" data-tooltip="Forum">
					<i class="material-icons black-text">language</i>
				</a>
			</li>
		</ul>
		{% endif %}

		<span class="center brand-logo black-text">{{ pagetitle }}</span>

		{% if not noprofile %}
		<ul class="right">
			<li>
				{% if user.is_authenticated %}
					<a class="dropdown-button tooltipped" href="#!" data-activates="dropdown-connected" data-position="left" data-tooltip="Options">
						<i class="material-icons black-text">settings</i>
					</a>
					<ul id="dropdown-connected" class="dropdown-content icons-only white">
						<li>
							<a href="{% url 'logout' request.get_full_path %}" class="tooltipped waves-effect waves-light center" data-position="left" data-tooltip="Déconnexion">
								<i class="material-icons black-text">cancel</i>
							</a>
						</li>
						<li>
							<a href="{% url 'profile' %}" class="tooltipped waves-effect waves-light center" data-position="left" data-tooltip="Profil">
								<i class="material-icons black-text">face</i>
							</a>
						</li>
					</ul>
				{% else %}
					<a href="#modal-connection" class="modal-trigger tooltipped waves-effect" data-position="bottom" data-tooltip="Connexion">
						<i class="material-icons black-text">power_settings_new</i>
					</a>
				{% endif %}
			</li>
			<!-- <li>
				<form method="GET" action="#">
					<div class="input-field">
						<input id="search" type="search" required>
						<label for="search">
							<i class="material-icons">search</i>
						</label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</li> -->
		</ul>
		{% endif %}

		{% if not noprofile %}
		<ul id="nav-mobile" class="side-nav center">
			<li>
				<a href="{% url 'forumindex' %}" class="tooltipped waves-effect" data-position="right" data-tooltip="Accueil">
					<i class="material-icons">home</i>
				</a>
			</li>
			<li>
				<a href="{% url 'forum' %}" class="tooltipped waves-effect" data-position="right" data-tooltip="Forum">
					<i class="material-icons">language</i>
				</a>
			</li>			
		</ul>
		
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons black-text">menu</i></a>
		{% endif %}
		
	</div>
</nav>