{% extends "forum/base.html" %}

{% block content %}

{% load staticfiles %}
{% load wysiwyg %}
{% wysiwyg_setup %}

{% if error %}
	<span class="hidden error-toast">{{ error }}</span>
{% endif %}

{% if success %}
	<span class="hidden success-toast">{{ success }}</span>
{% endif %}

<main class="container">
	<section class="section">
		<ul class="collapsible" data-collapsible="expandable">
			{% for post in posts %}
				<li id="post{{ post.id }}" data-id="{{ post.id }}" class="li-post">
					<div class="collapsible-header active grey lighten-4">
						<div class="post-title left">{{ post.title }}</div>
						<div class="right">
							<span class="date-modif">{{ post.date_modification }}</span>
						</div>
					</div>
					<div class="collapsible-body col s11 white">
						<div class="row post">
							{% if user.is_authenticated %}
								<a href="{% url 'profileinfos' post.profile.id %}" class="col s1 profil-infos center">
									{{ post.profile.pseudo }}
									<img src="/{{ post.profile.image }}" alt="<Image de profil>" class="responsive-img col s12">
								</a>
							{% else %}
								<div class="col s1 profil-infos center">
									{{ post.profile.pseudo }}
									<img src="/{{ post.profile.image }}" alt="<Image de profil>" class="responsive-img col s12">
								</div>
							{% endif %}
							<div class="col s10 justify post-content">{{ post.content|safe }}</div>
							{% if post.profile.user == user and user.is_authenticated %}
								<div class="valign-wrapper right col s1 post-buttons">
									<div class="valign">
										<button class="editPost btn-floating waves-effect waves-light purple" data-postid="{{ post.id }}">
											<i class="material-icons">mode_edit</i>
										</button>
										<a data-postid="{{ post.id }}" href="#modal-confirmation-delete-post" class="deletePost modal-trigger tooltiped btn-floating waves-effect waves-light red" data-position="bottom" data-tooltip="">
											<i class="material-icons">delete</i>
										</a>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</li>
			{% empty %}
				<div class="collection">
					<li class="collection-item">
						<i class="material-icons">mood_bad</i>Aucun post
					</li>
				</div>
			{% endfor %}
		</ul>

		{% if user.is_authenticated %}
			<div class="center row">
				<button id="answer" class="btn-large waves-effect waves-light green col s12">Répondre</button>
			</div>
			<section id="section_answer" class="section container hidden">
				<form action="{% url 'subject' subject.id %}" method="POST">
					{% csrf_token %}
					<div class="input-field">
						<label for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
						{{ form.title }}
					</div>
					<div class="input-field">
						{{ form.content }}
						{% wysiwyg_editor "id_content" %} <!-- I didn't found the way to include the auto_id -->
					</div>
					<input id="postIdInput" type="hidden" name="postId" value="-1" />
					<div class="center row">
						<button id="answerSubmit" class="btn-large waves-effect waves-light green col s12" type="submit">Répondre</button>
					</div>
				</form>
				<div class="center row">
					<button id="answerHide" class="btn-large waves-effect waves-light red col s12">Cancel</button>
				</div>
			</section>
		{% endif %}
	</section>
</main>

{% endblock content %}