{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
{% load wysiwyg %}
{% wysiwyg_setup %}

{% if error %}
	<span class="hidden error-toast">{{ error }}</span>
{% endif %}

{% if success %}
	<span class="hidden success-toast">{{ success }}</span>
{% endif %}

<main class="container">
	<section class="section">
		<ul class="collapsible" data-collapsible="expandable">
			{% for post in posts %}
				<li>
					<div class="collapsible-header active grey lighten-4">
						{{ post.title }}
						<div class="right">
							<span class="date-modif">{{ post.date_modification }}</span>
						</div>
					</div>
					<div class="collapsible-body white">
						<div class="row">
							<div class="col s1 profil-infos center">
								{{ post.profile.pseudo }}
								<img src="{{ post.imageurl }}" alt="<Image de profil>" class="responsive-img col s12">
							</div>
							<div class="col s11 justify post-content">
								{{ post.content|safe }}
							</div>
						</div>
					</div>
				</li>
			{% empty %}
				<div class="collection">
					<li class="collection-item">
						<i class="material-icons">mood_bad</i>Aucun post
					</li>
				</div>
			{% endfor %}
		</ul>
		{% if user.is_authenticated %}
			<div class="center row">
				<button id="answer" class="btn-large waves-effect waves-light green col s12">Répondre</button>
			</div>
			<section id="section_answer" class="section container hidden">
				<form action="/forum/subject/{{ subject.id }}/" method="POST">
					{% csrf_token %}
					<div class="input-field">
						<label for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
						{{ form.title }}
					</div>
					<div class="input-field">
						{{ form.content }}
						{% wysiwyg_editor "id_content" %} <!-- I didn't found the way to include the auto_id -->
					</div>
					<div class="center row">
						<button class="btn-large waves-effect waves-light green col s12" type="submit">Répondre</button>
					</div>
				</form>
				<div class="center row">
					<button id="answer_hide" class="btn-large waves-effect waves-light red col s12">Cancel</button>
				</div>
			</section>
		{% endif %}
	</section>
</main>

{% endblock content %}