<!DOCTYPE html>
<html lang="fr">
	{% load staticfiles %}

	<head>
		<meta charset="utf-8">
		<title>{{ pagetitle }}</title>

		<!-- CSS Framework -->
		<link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">

		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" >
		<link href="{% static 'css/rpg-awesome.min.css' %}" rel="stylesheet" >
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Aclonica" type="text/css"/>

		<!-- Personal CSS -->
		<link href="{% static 'css/battle.css' %}" rel="stylesheet">
	</head>
	<body>
		<!-- Navbar -->
		{% include "battle/fragments/navbar.html" %}
		<!-- End of Navbar -->

		<!-- Main content -->
		{% block content %}{% endblock content %}
		<!-- End of main -->

		<!-- Footer -->
		{% include "battle/fragments/footer.html" %}
		<!-- End of Footer -->
	</body>

	<!-- JavaScript Frameworks/Libraries -->
	<script src="{% static 'js/jquery-2.1.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/materialize.min.js' %}" type="text/javascript" charset="utf-8"></script>

	<!-- Personnal JavaScript -->
	<script src="{% static 'js/battle.js' %}" type="text/javascript" charset="utf-8"></script>
	{% if 'battle/player' in request.get_full_path %}
		<script src="{% static 'js/player.js' %}" type="text/javascript" charset="utf-8"></script>
	{% endif %}
	{% if 'battle/fight' in request.get_full_path %}
		<script src="{% static 'js/fight.js' %}" type="text/javascript" charset="utf-8"></script>
	{% endif %}
</html>
