{% extends "battle/base.html" %}

{% block content %}

{% load staticfiles %}

<main>
    <section class="section">
        <div class="container">
            <div class="row ennemies">
                {% for ennemy in ennemies %}
                    <div class="ennemy col s3 row" data-id="{{ ennemy.id }}" data-fullhealth="{{ ennemy.health }}" data-health="{{ ennemy.health }}">
                        <table class="col s5 table bordered">
                            <caption class="center">{{ ennemy.name }}<button class="left btn-floating disabled">{{ ennemy.level }}</span></caption>
                            <tbody>
                                <tr class="color-health-text">
                                    <td class="td-icon"><i class="ra ra-hearts ra-2x"></i></td>
                                    <td class="td-value center">
                                        <span class="health">{{ ennemy.health }}</span>
                                        <div class="progress">
                                            <div class="determinate color-health" style="width: 100%"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col s7 attacks">
                            {% for a in ennemy.attacks %}
                                <div class="row">
                                    <button class="attack col s10 btn disabled color-{{ a.stat }}" data-name="{{ a.name }}" data-damage="{{ a.damage }}" data-heal="{{ a.heal }}" data-critical="{{ a.critical }}" data-cooldown="{{ a.cooldown }}" data-target="{{ a.target }}">{{ a.name }}</button>
                                    <div class="col s2">
                                        <a href="#modal-{{ a.id }}-{{ ennemy.id }}" class="modal-trigger black-text"><i class="material-icons left waves-effect waves-light">help</i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <button class="col s12 btn">{{ ennemy.name }}</button>
                    </div>

                    <div class="col s1">&nbsp;</div>
                {% endfor %}
            </div>

            <div class="row targets">

            </div>

            <div class="row players">
                {% for p in players %}
                    <div class="player col s3 row" data-id="{{ p.id }}" data-pseudo="{{ p.pseudo }}" data-fullhealth="{{ p.full_health }}" data-health="{{ p.full_health }}" data-fullmana="{{ p.full_mana }}" data-mana="{{ p.full_mana }}" data-fullenergy="{{ p.full_energy }}" data-energy="{{ p.full_energy }}" data-defense="{{ p.full_defense }}" data-strength="{{ p.full_strength }}" data-agility="{{ p.full_agility }}" data-intellect="{{ p.full_intellect }}" data-spirit="{{ p.full_spirit }}">
                        <table class="col s6 table bordered">
                            <caption class="center">{{ p.pseudo }}<button class="left btn-floating disabled">{{ p.level }}</span></caption>
                            <tbody>
                                <tr class="color-health-text">
                                    <td class="td-icon"><i class="ra ra-hearts ra-2x"></i></td>
                                    <td class="td-value center">
                                        <span class="health">{{ p.full_health }}</span>
                                        <div class="progress">
                                            <div class="determinate color-health" style="width: 100%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="color-mana-text">
                                    <td class="td-icon"><i class="ra ra-crystals ra-2x"></i></td>
                                    <td class="td-value center">
                                        <span class="mana">{{ p.full_mana }}</span>
                                        <div class="progress">
                                            <div class="determinate color-mana" style="width: 100%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="color-energy-text">
                                    <td class="td-icon"><i class="ra ra-lightning-bolt ra-2x"></i></td>
                                    <td class="td-value center">
                                        <span class="energy">{{ p.full_energy }}</span>
                                        <div class="progress">
                                            <div class="determinate color-energy" style="width: 100%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="color-defense-text">
                                    <td class="td-icon"><i class="ra ra-shield ra-2x"></i></td>
                                    <td class="td-value defense">{{ p.full_defense }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col s6 attacks">
                            {% for a in p.attacks %}
                                <div class="row">
                                    <button class="attack col s10 btn color-{{ a.stat }}" data-name="{{ a.name }}" data-damage="{{ a.damage }}" data-fulldamage="{{ a.full_damage}}" data-heal="{{ a.heal }}" data-mana="{{ a.mana }}" data-energy="{{ a.energy }}" data-critical="{{ a.critical }}" data-cooldown="{{ a.cooldown }}" data-target="{{ a.target }}" data-symbol="{{ a.symbol }}" data-acronym="{{ a.acronym }}">{{ a.name }}</button>
                                    <div class="col s2">
                                        <a href="#modal-{{ a.id }}-{{ p.id }}" class="modal-trigger black-text"><i class="material-icons">help</i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col s1">&nbsp;</div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% for ennemy in ennemies %}
    {% for attack in ennemy.attacks %}
        <div id="modal-{{ attack.id }}-{{ ennemy.id }}" class="modal">
            <div class="modal-content">
                <h5 class="center">{{ attack.name }}</h5>
                <table class="table bordered">
					<thead>
						<tr>
                            <th class="center">Symbole</th>
							<th class="center">Dégâts</th>
							<th class="center">Soins</th>
							<th class="center">Taux de coup critique</th>
							<th class="center">Durée</th>
							<th class="center">Délai de relance</th>
							<th class="center">Nombre de cibles</th>
						</tr>
					</thead>
					<tbody>
						<tr>
                            <td class="center"><i class="{{ attack.symbol }} ra-3x"></i></td>
							<td class="center color-{{ attack.stat }}-text">{{ attack.damage }}</td>
                            <td class="center color-health-text">{{ attack.heal }}</td>
							<td class="center">{{ attack.critical }} %</td>
							<td class="center">{{ attack.duration }}</td>
							<td class="center">{{ attack.cooldown }}</td>
							<td class="center">{{ attack.target }}</td>
						</tr>
					</tbody>
				</table>
            </div>
            <div class="center row">
                <button class="btn modal-action modal-close waves-effect red">Fermer</button>
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% for player in players %}
    {% for attack in player.attacks %}
        <div id="modal-{{ attack.id }}-{{ player.id }}" class="modal">
            <div class="modal-content">
                <h5 class="center">{{ attack.name }}</h5>
                <table class="table bordered">
					<thead>
						<tr>
                            <th class="center">Symbole</th>
							<th class="center">Dégâts</th>
							<th class="center">Soins</th>
							<th class="center">Coût en mana</th>
							<th class="center">Coût en energie</th>
							<th class="center">Taux de coup critique</th>
							<th class="center">Durée</th>
							<th class="center">Délai de relance</th>
							<th class="center">Nombre de cibles</th>
                            <th class="center">Acronyme</th>
						</tr>
					</thead>
					<tbody>
						<tr>
                            <td class="center"><i class="{{ attack.symbol }} ra-3x"></i></td>
							<td class="center color-{{ attack.stat }}-text">{{ attack.full_damage }}</td>
                            <td class="center color-health-text">{{ attack.heal }}</td>
                            <td class="center color-mana-text">{{ attack.mana }}</td>
                            <td class="center color-energy-text">{{ attack.energy }}</td>
							<td class="center">{{ attack.critical }} %</td>
							<td class="center">{{ attack.duration }}</td>
							<td class="center">{{ attack.cooldown }}</td>
							<td class="center">{{ attack.target }}</td>
                            <td class="center">{{ attack.acronym }}</td>
						</tr>
					</tbody>
				</table>
            </div>
            <div class="center row">
                <button class="btn modal-action modal-close waves-effect red">Fermer</button>
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% endblock content %}
