{% extends "battle/base.html" %}

{% block content %}

{% load staticfiles %}

<main>
    <section class="section">
        <div class="fight">
            <div class="row ennemies">
                {% for ennemy in ennemies %}
                    <div class="ennemy col s3 row">
                        <table class="col s6 table bordered" data-health="{{ ennemy.health }}">
                            <caption class="center">{{ ennemy.name }}, niveau {{ ennemy.level }}</caption>
                            <tbody>
                                <tr class="color-health-text">
                                    <td><i class="ra ra-hearts ra-2x"></i></td>
                                    <td>{{ ennemy.health }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col s6">
                            {% for a in ennemy.attacks %}
                                <div class="row">
                                    <button class="col s10 btn disabled color-{{ a.stat }}" data-name="{{ a.name }}" data-damage="{{ a.damage }}" data-heal="{{ a.heal }}" data-critical="{{ a.critical }}" data-cooldown="{{ a.cooldown }}" data-target="{{ a.target }}">{{ a.name }}</button>
                                    <div class="col s2">
                                        <a href="#modal-{{ a.id }}-{{ ennemy.id }}" class="modal-trigger grey-text"><i class="material-icons left waves-effect waves-light">help</i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row players">
                {% for player in players %}
                    <div class="player col s3 row">
                        <table class="col s6 table bordered" data-health="{{ player.full_health }}" data-mana="{{ player.full_mana }}" data-energy="{{ player.full_energy }}" data-defense="{{ player.full_defense }}" data-strength="{{ player.full_strength }}" data-agility="{{ player.full_agility }}" data-intellect="{{ player.full_intellect }}" data-spirit="{{ player.full_spirit }}">
                            <caption class="center">{{ player.pseudo }}</caption>
                            <tbody>
                                <tr class="color-health-text">
                                    <td><i class="ra ra-hearts ra-2x"></i></td>
                                    <td>{{ player.full_health }}</td>
                                </tr>
                                <tr class="color-mana-text">
                                    <td><i class="ra ra-crystals ra-2x"></i></td>
                                    <td>{{ player.full_mana }}</td>
                                </tr>
                                <tr class="color-energy-text">
                                    <td><i class="ra ra-lightning-bolt ra-2x"></i></td>
                                    <td>{{ player.full_energy }}</td>
                                </tr>
                                <tr class="color-defense-text">
                                    <td><i class="ra ra-shield ra-2x"></i></td>
                                    <td>{{ player.full_defense }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col s6">
                            {% for a in player.attacks %}
                                <div class="row">
                                    <button class="col s10 btn color-{{ a.stat }}" data-name="{{ a.name }}" data-damage="{{ a.damage }}" data-heal="{{ a.heal }}" data-mana="{{ a.mana }}" data-energy="{{ a.energy }}" data-critical="{{ a.critical }}" data-cooldown="{{ a.cooldown }}" data-target="{{ a.target }}">{{ a.name }}</button>
                                    <div class="col s2">
                                        <a href="#modal-{{ a.id }}-{{ player.id }}" class="modal-trigger color-{{ a.stat }}-text"><i class="material-icons left waves-effect waves-light">help</i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% for ennemy in ennemies %}
    {% for attack in ennemy.attacks %}
        <div id="modal-{{ attack.id }}-{{ ennemy.id }}" class="modal">
            <div class="modal-content">
                <table class="table bordered">
					<thead>
						<tr>
							<th class="center">Dégâts</th>
							<th class="center">Soins</th>
							<th class="center">Taux de coup critique</th>
							<th class="center">Durée</th>
							<th class="center">Délai de relance</th>
							<th class="center">Nombre de cibles</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="center color-{{ attack.stat }}-text">{{ attack.damage }}</td>
                            <td class="center color-health-text">{{ attack.heal }}</td>
							<td class="center">{{ attack.critical }} %</td>
							<td class="center">{{ attack.duration }}</td>
							<td class="center">{{ attack.cooldown }}</td>
							<td class="center">{{ attack.target }}</td>
						</tr>
					</tbody>
				</table>
            </div>
            <div class="center row">
                <button class="btn modal-action modal-close waves-effect red">Fermer</button>
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% for player in players %}
    {% for attack in player.attacks %}
        <div id="modal-{{ attack.id }}-{{ player.id }}" class="modal">
            <div class="modal-content">
                <table class="table bordered">
					<thead>
						<tr>
							<th class="center">Dégâts</th>
							<th class="center">Soins</th>
							<th class="center">Coût en mana</th>
							<th class="center">Coût en energie</th>
							<th class="center">Taux de coup critique</th>
							<th class="center">Durée</th>
							<th class="center">Délai de relance</th>
							<th class="center">Nombre de cibles</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="center color-{{ attack.stat }}-text">{{ attack.full_damage }}</td>
                            <td class="center color-health-text">{{ attack.heal }}</td>
                            <td class="center color-mana-text">{{ attack.mana }}</td>
                            <td class="center color-energy-text">{{ attack.energy }}</td>
							<td class="center">{{ attack.critical }} %</td>
							<td class="center">{{ attack.duration }}</td>
							<td class="center">{{ attack.cooldown }}</td>
							<td class="center">{{ attack.target }}</td>
						</tr>
					</tbody>
				</table>
            </div>
            <div class="center row">
                <button class="btn modal-action modal-close waves-effect red">Fermer</button>
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% endblock content %}
