{% extends "battle/base.html" %}

{% block content %}

{% load staticfiles %}

<main>
	<section class="section">
		<div class="parallax-container valign-wrapper">
			<div class="section no-pad-bot">
				<div class="container">
					<div class="row center">
						<h1 class="header col s12 aclonica white-text">L'heure est venue !</h1>
					</div>
				</div>
			</div>
			<div class="parallax">
				<img alt="Universe" src="{% static 'img/Warriors_of_Cosmos.png' %}">
			</div>
		</div>
		
		<div class="row center">
			<h4 class="aclonica">Des combattants arrivent des 4 coins du Monde pour lutter contre les ténèbres...</h4>
		</div>

		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12 m4">
						<div class="icon-block center">
							<h2 class="black-text">
								<i class="ra ra-monster-skull ra-lg"></i>
							</h2>
							<h5 class="black-text aclonica">Des ennemis bien connus !</h5>
							<p class="black-text">
								Retrouvez les ennemis de différents Jeux de Rôles, et terrassez-les jusqu'à leur retour dans l'ether ! Ne les sous-estimez pas, ce serait peut-être votre dernière erreur...
							</p>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="icon-block center">
							<h2 class="black-text">
								<i class="ra ra-battered-axe ra-lg"></i>
							</h2>
							<h5 class="black-text aclonica">Combattez !</h5>
							<p class="black-text">
								Le combat de la Lumière contre les Ténèbres est sans fin. Mais lorsque le Chaos rassemble ses forces, l'Ordre doit s'unir pour rétablir l'équilibre. Rejoignez la lutte !
							</p>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="icon-block center">
							<h2 class="black-text">
								<i class="ra ra-player-king ra-lg"></i>
							</h2>
							<h5 class="black-text aclonica">Devenez le maître</h5>
							<p class="black-text">
								Plus vous combattrez, plus vous gagnerez en puissance. Le pouvoir ne s'acquiert qu'au prix de lourds efforts, alors ne vous ménagez pas ! Ce n'est qu'ainsi que vous pourrez devenir le Héros de la Lumière !
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{% endblock content %}