{% extends "battle/base.html" %}

{% block content %}

{% load staticfiles %}

<main>
	<section class="section">
		<div class="container">
			<div class="center">
				<h1>{{ player.pseudo }}</h1>
				<h2>{{ player.classe }} niveau {{ player.level }}</h2>
			</div>

			<br />

			<div class="row">
				<table class="col s4 table bordered">
					<tbody>
						<tr class="red-text">
							<td>Vie</td>
							<td><i class="ra ra-hearts ra-2x"></i></td>
							<td>{{ player.health }}</td>
						</tr>
						<tr class="blue-text">
							<td>Mana</td>
							<td><i class="ra ra-crystals ra-2x"></i>
							<td>{{ player.mana }}</td>
						</tr>
						<tr class="brown-text">
							<td>Force</td>
							<td><i class="ra ra-muscle-up ra-2x"></i>
							<td>{{ player.strength }}</td>
						</tr>
						<tr class="orange-text">
							<td>Intelligence</td>
							<td><i class="ra ra-pawn ra-2x"></i>
							<td>{{ player.intellect }}</td>
						</tr>
						<tr class="green-text">
							<td>Agilité</td>
							<td><i class="ra ra-player-dodge ra-2x"></i>
							<td>{{ player.agility }}</td>
						</tr>
						<tr class="blue-grey-text">
							<td>Esprit</td>
							<td><i class="ra ra-aware ra-2x"></i>
							<td>{{ player.spirit }}</td>
						</tr>
					</tbody>
				</table>

				<!-- ARMOR STYLE -->
				<div class="col s4">
					<div class="armors center">
						<div class="row">
							<div class="armor head col s1 offset-s4">
								{% if player.armor_head %}
									<div class="armor-piece head weight{{ player.armor_head.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_head.name }}" data-id="{{ player.armor_head.id }}" data-name="{{ player.armor_head.name }}" data-price="{{ player.armor_head.price }}" data-health="{{ player.armor_head.health }}" data-mana="{{ player.armor_head.mana }}" data-strength="{{ player.armor_head.strength }}" data-agility="{{ player.armor_head.agility }}" data-intellect="{{ player.armor_head.intellect }}" data-spirit="{{ player.armor_head.spirit }}"></div>
								{% else %}
									<i class="ra ra-helmet ra-5x tooltipped" data-position="top" data-tooltip="Tête"></i>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="armor hand col s1">
								{% if player.armor_hand %}
									<div class="armor-piece hand weight{{ player.armor_hand.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_hand.name }}" data-id="{{ player.armor_heand.id }}" data-name="{{ player.armor_hand.name }}" data-price="{{ player.armor_hand.price }}" data-health="{{ player.armor_hand.health }}" data-mana="{{ player.armor_hand.mana }}" data-strength="{{ player.armor_hand.strength }}" data-agility="{{ player.armor_hand.agility }}" data-intellect="{{ player.armor_hand.intellect }}" data-spirit="{{ player.armor_hand.spirit }}"></div>
								{% else %}
									<i class="ra ra-hand ra-5x tooltipped" data-position="left" data-tooltip="Mains"></i>
								{% endif %}
							</div>
							<div class="armor torso col s1 offset-s3">
								{% if player.armor_torso %}
									<div class="armor-piece torso weight{{ player.armor_torso.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_torso.name }}" data-id="{{ player.armor_torso.id }}" data-name="{{ player.armor_torso.name }}" data-price="{{ player.armor_torso.price }}" data-health="{{ player.armor_torso.health }}" data-mana="{{ player.armor_torso.mana }}" data-strength="{{ player.armor_torso.strength }}" data-agility="{{ player.armor_torso.agility }}" data-intellect="{{ player.armor_torso.intellect }}" data-spirit="{{ player.armor_torso.spirit }}"></div>
								{% else %}
									<i class="ra ra-vest ra-5x tooltipped" data-position="top" data-tooltip="Torse"></i>
								{% endif %}
							</div>
							<div class="armor neck col s1 offset-s3">
								{% if player.armor_neck %}
									<div class="armor-piece neck weight{{ player.armor_neck.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_neck.name }}" data-id="{{ player.armor_neck.id }}" data-name="{{ player.armor_neck.name }}" data-price="{{ player.armor_neck.price }}" data-health="{{ player.armor_neck.health }}" data-mana="{{ player.armor_neck.mana }}" data-strength="{{ player.armor_neck.strength }}" data-agility="{{ player.armor_neck.agility }}" data-intellect="{{ player.armor_neck.intellect }}" data-spirit="{{ player.armor_neck.spirit }}"></div>
								{% else %}
									<i class="ra ra-taurus ra-5x tooltipped" data-position="right" data-tooltip="Amulette"></i>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="armor feet col s1 offset-s4">
								{% if player.armor_feet %}
									<div class="armor-piece feet weight{{ player.armor_feet.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_feet.name }}" data-id="{{ player.armor_feet.id }}" data-name="{{ player.armor_feet.name }}" data-price="{{ player.armor_feet.price }}" data-health="{{ player.armor_feet.health }}" data-mana="{{ player.armor_feet.mana }}" data-strength="{{ player.armor_feet.strength }}" data-agility="{{ player.armor_feet.agility }}" data-intellect="{{ player.armor_feet.intellect }}" data-spirit="{{ player.armor_feet.spirit }}"></div>
								{% else %}
									<i class="ra ra-boot-stomp ra-5x tooltipped" data-position="bottom" data-tooltip="Pieds"></i>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<!-- END OF ARMOR STYLE -->

				<ul class="collection col s3 center">
					<li class="collection-item">
						{{ player.armor_head.name }}
					</li>
					<li class="collection-item amber-text">
						<i class="ra ra-gold-bar ra-2x left"></i>
						{{ player.armor_head.price }}
					</li>
					<li class="collection-item grey-text">
						<i class="ra ra-shield ra-2x left"></i>
						{{ player.armor_head.defense }}
					</li>
					<li class="collection-item red-text">
						<i class="ra ra-health ra-2x left"></i>
						{{ player.armor_head.health }}
					</li>
					<li class="collection-item blue-text">
						<i class="ra ra-crystals ra-2x left"></i>
						{{ player.armor_head.mana }}
					</li>
					<li class="collection-item brown-text">
						<i class="ra ra-muscle-up ra-2x left"></i>
						{{ player.armor_head.strength }}
					</li>
					<li class="collection-item green-text">
						<i class="ra ra-player-dodge ra-2x left"></i>
						{{ player.armor_head.agility }}
					</li>
					<li class="collection-item orange-text">
						<i class="ra ra-pawn ra-2x left"></i>
						{{ player.armor_head.intellect }}
					</li>
					<li class="collection-item blue-grey-text">
						<i class="ra ra-aware ra-2x left"></i>
						{{ player.armor_head.spirit }}
					</li>
				</ul>
			</div>

			<br />

			<div id="attacks" class="row">
				<table class="col s6 offset-s3 table bordered">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Dégâts</th>
							<th>Soins</th>
							<th>Coüt en mana</th>
							<th>Nombre de cibles</th>
						</tr>
					</thead>
					<tbody>
						{% for a in player.attacks %}
							<tr>
								<td>{{ a.name }}</td>
								<td>{{ a.damage }}</td>
								<td>{{ a.heal }}</td>
								<td>{{ a.mana }}</td>
								<td>{{ a.target }}</td>
							</tr>
						{% empty %}
							<tr>Pas d'attaques</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
</main>

{% endblock content %}