{% extends "battle/base.html" %}

{% block content %}

{% load staticfiles %}

<main>
	<section class="section">
		<div class="container">
			<div class="center">
				<h1>{{ player.pseudo }}</h1>
				<h2>{{ player.classe.name }} niveau {{ player.level }}</h2>
			</div>

			<br />

			<div class="row">
				<table id="playerStats" class="col s4 table bordered" data-health="{{ player.full_health }}" data-mana="{{ player.full_mana }}" data-energy="{{ player.full_energy }}" data-defense="{{ player.full_defense }}" data-strength="{{ player.full_strength }}" data-agility="{{ player.full_agility }}" data-intellect="{{ player.full_intellect }}" data-spirit="{{ player.full_spirit }}">
					<tbody>
						<tr class="color-health-text">
							<td>Vie</td>
							<td><i class="ra ra-hearts ra-2x"></i></td>
							<td>{{ player.full_health }} <span class="grey-text text-lighten-1">({{ player.health }} + {{ player.health_bonus }})</span></td>
						</tr>
						<tr class="color-mana-text">
							<td>Mana</td>
							<td><i class="ra ra-crystals ra-2x"></i></td>
							<td>{{ player.full_mana }} <span class="grey-text text-lighten-1">({{ player.mana }} + {{ player.mana_bonus }})</span></td>
						</tr>
						<tr class="color-energy-text">
							<td>Energie</td>
							<td><i class="ra ra-lightning-bolt ra-2x"></i></td>
							<td>{{ player.full_energy }} <span class="grey-text text-lighten-1">({{ player.energy }} + {{ player.energy_bonus }})</span></td>
						</tr>
						<tr class="color-defense-text">
							<td>Vie</td>
							<td><i class="ra ra-shield ra-2x"></i></td>
							<td>{{ player.full_defense }} <span class="grey-text text-lighten-1">({{ player.defense }} + {{ player.defense_bonus }})</span></td>
						</tr>
						<tr class="color-strength-text">
							<td>Force</td>
							<td><i class="ra ra-muscle-up ra-2x"></i></td>
							<td>{{ player.full_strength }} <span class="grey-text text-lighten-1">({{ player.strength }} + {{ player.strength_bonus }})</span></td>
						</tr>
						<tr class="color-agility-text">
							<td>Agilité</td>
							<td><i class="ra ra-player-dodge ra-2x"></i></td>
							<td>{{ player.full_agility }} <span class="grey-text text-lighten-1">({{ player.agility }} + {{ player.agility_bonus }})</span></td>
						</tr>
						<tr class="color-intellect-text">
							<td>Intelligence</td>
							<td><i class="ra ra-pawn ra-2x"></i></td>
							<td>{{ player.full_intellect }} <span class="grey-text text-lighten-1">({{ player.intellect }} + {{ player.intellect_bonus }})</span></td>
						</tr>
						<tr class="color-spirit-text">
							<td>Esprit</td>
							<td><i class="ra ra-aware ra-2x"></i></td>
							<td>{{ player.full_spirit }} <span class="grey-text text-lighten-1">({{ player.spirit }} + {{ player.spirit_bonus }})</span></td>
						</tr>
					</tbody>
				</table>

				<!-- ARMOR STYLE -->
				<div class="col s4">
					<div class="armors center">
						<div class="row">
							<div class="armor head col s1 offset-s4">
								{% if player.armor_head %}
									<div class="armor-piece head weight{{ player.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_head.name }}" data-id="{{ player.armor_head.id }}" data-name="{{ player.armor_head.name }}" data-price="{{ player.armor_head.price }}" data-defense="{{ player.armor_head.defense }}" data-health="{{ player.armor_head.health }}" data-mana="{{ player.armor_head.mana }}" data-energy="{{ player.armor_head.energy }}" data-strength="{{ player.armor_head.strength }}" data-agility="{{ player.armor_head.agility }}" data-intellect="{{ player.armor_head.intellect }}" data-spirit="{{ player.armor_head.spirit }}"></div>
								{% else %}
									<i class="ra ra-helmet ra-5x tooltipped" data-position="top" data-tooltip="Tête"></i>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="armor hand col s1">
								{% if player.armor_hand %}
									<div class="armor-piece hand weight{{ player.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_hand.name }}" data-id="{{ player.armor_heand.id }}" data-name="{{ player.armor_hand.name }}" data-price="{{ player.armor_hand.price }}" data-defense="{{ player.armor_hand.defense }}" data-health="{{ player.armor_hand.health }}" data-mana="{{ player.armor_hand.mana }}" data-energy="{{ player.armor_hand.energy }}" data-strength="{{ player.armor_hand.strength }}" data-agility="{{ player.armor_hand.agility }}" data-intellect="{{ player.armor_hand.intellect }}" data-spirit="{{ player.armor_hand.spirit }}"></div>
								{% else %}
									<i class="ra ra-hand ra-5x tooltipped" data-position="left" data-tooltip="Mains"></i>
								{% endif %}
							</div>
							<div class="armor torso col s1 offset-s3">
								{% if player.armor_torso %}
									<div class="armor-piece torso weight{{ player.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_torso.name }}" data-id="{{ player.armor_torso.id }}" data-name="{{ player.armor_torso.name }}" data-price="{{ player.armor_torso.price }}" data-defense="{{ player.armor_torso.defense }}" data-health="{{ player.armor_torso.health }}" data-mana="{{ player.armor_torso.mana }}" data-energy="{{ player.armor_torso.energy }}" data-strength="{{ player.armor_torso.strength }}" data-agility="{{ player.armor_torso.agility }}" data-intellect="{{ player.armor_torso.intellect }}" data-spirit="{{ player.armor_torso.spirit }}"></div>
								{% else %}
									<i class="ra ra-vest ra-5x tooltipped" data-position="top" data-tooltip="Torse"></i>
								{% endif %}
							</div>
							<div class="armor neck col s1 offset-s3">
								{% if player.armor_neck %}
									<div class="armor-piece neck weight{{ player.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_neck.name }}" data-id="{{ player.armor_neck.id }}" data-name="{{ player.armor_neck.name }}" data-price="{{ player.armor_neck.price }}" data-defense="{{ player.armor_neck.defense }}" data-health="{{ player.armor_neck.health }}" data-mana="{{ player.armor_neck.mana }}" data-energy="{{ player.armor_neck.energy }}" data-strength="{{ player.armor_neck.strength }}" data-agility="{{ player.armor_neck.agility }}" data-intellect="{{ player.armor_neck.intellect }}" data-spirit="{{ player.armor_neck.spirit }}"></div>
								{% else %}
									<i class="ra ra-taurus ra-5x tooltipped" data-position="right" data-tooltip="Amulette"></i>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="armor feet col s1 offset-s4">
								{% if player.armor_feet %}
									<div class="armor-piece feet weight{{ player.weight }} tooltipped" data-position="top" data-tooltip="{{ player.armor_feet.name }}" data-id="{{ player.armor_feet.id }}" data-name="{{ player.armor_feet.name }}" data-price="{{ player.armor_feet.price }}" data-defense="{{ player.armor_feet.defense }}" data-health="{{ player.armor_feet.health }}" data-mana="{{ player.armor_feet.mana }}" data-energy="{{ player.armor_feet.energy }}" data-strength="{{ player.armor_feet.strength }}" data-agility="{{ player.armor_feet.agility }}" data-intellect="{{ player.armor_feet.intellect }}" data-spirit="{{ player.armor_feet.spirit }}"></div>
								{% else %}
									<i class="ra ra-boot-stomp ra-5x tooltipped" data-position="bottom" data-tooltip="Pieds"></i>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<!-- END OF ARMOR STYLE -->

				<ul class="collection col s3 center armor-statistics">
					<li class="collection-item">
						<span class="armor-name">?</span>
					</li>
					<li class="collection-item color-price-text">
						<i class="ra ra-gold-bar ra-2x left"></i>
						<span class="armor-price">?</span>
					</li>
					<li class="collection-item color-health-text">
						<i class="ra ra-health ra-2x left"></i>
						<span class="armor-health">?</span>
					</li>
					<li class="collection-item color-mana-text">
						<i class="ra ra-crystals ra-2x left"></i>
						<span class="armor-mana">?</span>
					</li>
					<li class="collection-item color-energy-text">
						<i class="ra ra-lightning-bolt ra-2x left"></i>
						<span class="armor-energy">?</span>
					</li>
					<li class="collection-item color-defense-text">
						<i class="ra ra-shield ra-2x left"></i>
						<span class="armor-defense">?</span>
					</li>
					<li class="collection-item color-strength-text">
						<i class="ra ra-muscle-up ra-2x left"></i>
						<span class="armor-strength">?</span>
					</li>
					<li class="collection-item color-agility-text">
						<i class="ra ra-player-dodge ra-2x left"></i>
						<span class="armor-agility">?</span>
					</li>
					<li class="collection-item color-intellect-text">
						<i class="ra ra-pawn ra-2x left"></i>
						<span class="armor-intellect">?</span>
					</li>
					<li class="collection-item color-spirit-text">
						<i class="ra ra-aware ra-2x left"></i>
						<span class="armor-spirit">?</span>
					</li>
				</ul>
			</div>

			<br />

			<div id="attacks" class="row">
				<table class="col s10 offset-s1 table bordered">
					<thead>
						<tr>
							<th class="center">Nom</th>
							<th class="center">Dégâts</th>
							<th class="center">Soins</th>
							<th class="center">Coût en mana</th>
							<th class="center">Coût en energie</th>
							<th class="center">Taux de coup critique</th>
							<th class="center">Durée</th>
							<th class="center">Délai de relance</th>
							<th class="center">Nombre de cibles</th>
						</tr>
					</thead>
					<tbody>
						{% for a in player.attacks %}
							<tr>
								<td class="center">{{ a.name }}</td>
								<td class="center color-{{ a.stat }}-text">{{ a.full_damage }}
									<span class="grey-text text-lighten-2">{{ a.damage }} x {{ a.player_stat }}</span>
								</td>
								<td class="center color-health-text">{{ a.heal }}</td>
								<td class="center color-mana-text">{{ a.mana }}</td>
								<td class="center color-energy-text">{{ a.energy }}</td>
								<td class="center">{{ a.critical }} %</td>
								<td class="center">{{ a.duration }}</td>
								<td class="center">{{ a.cooldown }}</td>
								<td class="center">{{ a.target }}</td>
							</tr>
						{% empty %}
							<tr>Pas d'attaques</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
</main>

{% endblock content %}
