{% extends "battle/base.html" %}

{% block content %}

{% load staticfiles %}

<main>
	<section class="section">
		<div class="container">
			<h1>{{ player.pseudo }}</h1>
			<h2>{{ player.classe }} niveau {{ player.level }}</h2>
			<table>
				<tbody>
					<tr>
						<td>Vie</td><td>{{ player.health }}</td>
					</tr>
					<tr>
						<td>Mana</td><td>{{ player.mana }}</td>
					</tr>
					<tr>
						<td>Force</td><td>{{ player.strength }}</td>
					</tr>
					<tr>
						<td>Intelligence</td><td>{{ player.intellect }}</td>
					</tr>
					<tr>
						<td>Sagesse</td><td>{{ player.wisdom }}</td>
					</tr>
					<tr>
						<td>Esprit</td><td>{{ player.spirit }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</main>

{% endblock content %}