/*
* @Author: cnicolas
* @Date:   2015-11-18 14:42:35
* @Last Modified by:   cnicolas
* @Last Modified time: 2015-11-26 10:48:44
*/

/* HTML */
html {
	font-family: fantasy;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
/* END */

/* SURCHARGE MATERIALIZE */
.valign-wrapper div {
	width: 100%;
}
/* END */

/* HELPERS */
.hidden {
	display: none;
}
.justify {
	text-align: justify;
	text-justify: inter-word;
}
.bold {
	font-weight: bold;
}
.opacity-5 {
	opacity: .5;
}

.color-price {
	background-color: #ffc107 !important;
}
.color-price-text {
	color: #ffc107 !important;
}
.color-defense {
	background-color: #9e9e9e !important;
}
.color-defense-text {
	color: #9e9e9e !important;
}
.color-health {
	background-color: #f44336 !important;
}
.color-health-text {
	color: #f44336 !important;
}
.color-mana {
	background-color: #2196f3 !important;
}
.color-mana-text {
	color: #2196f3 !important;
}
.color-energy {
	background-color: #cddc39 !important;
}
.color-energy-text {
	color: #cddc39 !important;
}
.color-strength {
	background-color: #795548 !important;
}
.color-strength-text {
	color: #795548 !important;
}
.color-agility {
	background-color: #4caf50 !important;
}
.color-agility-text {
	color: #4caf50 !important;
}
.color-intellect {
	background-color: #ff9800 !important;
}
.color-intellect-text {
	color: #ff9800 !important;
}
.color-spirit {
	background-color: #607d8b !important;
}
.color-spirit-text {
	color: #607d8b !important;
}

.health, .mana, .energy {
	font-weight:bold;
}

td.td-icon {
	display: inline-block;
}
td.td-value {
	display: inline-block;
	width: 60%;
}
/* END */

/* ARMOR STYLE */
div.armor-piece {
	background: url("../img/rpg_icons.png") 0 0 no-repeat; 	/* 476*1020 */
	background-size: 1050px 2200px;
	height: 75px;
	width: 75px;
}

div.armor-piece.head.weight1 {
	background-position: -675px -952px;
}
div.armor-piece.head.weight2 {
	background-position: -900px -952px;
}
div.armor-piece.head.weight3 {
	background-position: -978px -952px;
}

div.armor-piece.torso.weight1 {
	background-position: -375px -953px;
}
div.armor-piece.torso.weight2 {
	background-position: -300px -953px;
}
div.armor-piece.torso.weight3 {
	background-position: -450px -953px;
}

div.armor-piece.hand.weight1 {
	background-position: -978px -1025px;
}
div.armor-piece.hand.weight2 {
	background-position: -825px -1025px;
}
div.armor-piece.hand.weight3 {
	background-position: -900px -1025px;
}

div.armor-piece.neck.weight1 {
	background-position: -600px -1392px;
}
div.armor-piece.neck.weight2 {
	background-position: -450px -1391px;
}
div.armor-piece.neck.weight3 {
	background-position: -978px -1392px;
}

div.armor-piece.feet.weight1 {
	background-position: -450px -1025px;
}
div.armor-piece.feet.weight2 {
	background-position: -375px -1025px;
}
div.armor-piece.feet.weight3 {
	background-position: -300px -1025px;
}
/* END */

/* FIGHT */
div.ennemies, div.players {
	min-height: 30vh;
}
div.targets {
	min-height: 9vh;
}
/* END */






/* ACLONICA FONT */
.aclonica {
	font-family: Aclonica;
	font-style: normal;
	font-variant: normal;
}

h1.aclonica {
	font-size: 70px;
	font-weight: 500;
	line-height: 26.4px;
}
h3.aclonica {
	font-size: 14px;
	font-weight: 500;
	line-height: 15.4px;
}
p.aclonica {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
blockquote.aclonica {
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
}
pre.aclonica {
	font-size: 13px;
	font-weight: 400;
	line-height: 18.5667px;
}
