/* 
* @Author: cnicolas
* @Date:   2015-11-18 14:42:35
* @Last Modified by:   Aku
* @Last Modified time: 2015-11-20 12:02:23
*/

/* HTML */
html {
	font-family: fantasy;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* HELPERS */
.hidden {
	display: none;
}
.justify {
	text-align: justify;
	text-justify: inter-word;
}
.bold {
	font-weight: bold;
}
.opacity-5 {
	opacity: .5;
}

/* SURCHARGE MATERIALIZE */
.valign-wrapper div {
	width: 100%;
}


/* ARMOR STYLE */
div.armors {
	background: url("../img/rpg_icons.png") 0 0 no-repeat;
	height: 50px;
	width: 50px;
	background-position: 0px -475px;
}

div.armor.filled {
	background: url("../img/nice_armors.jpg") 0 0 no-repeat;
	height: 50px;
	width: 50px;
}

div.armor.filled.torso.robe {
	/* 670*825 */
	background-size: 536px 660px;
	background-position: -340px -605px;
}

/* ACLONICA FONT */
.aclonica {
	font-family: Aclonica;
	font-style: normal;
	font-variant: normal;
}

h1.aclonica {
	font-size: 70px;
	font-weight: 500;
	line-height: 26.4px;
}
h3.aclonica {
	font-size: 14px;
	font-weight: 500;
	line-height: 15.4px;
}
p.aclonica {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
blockquote.aclonica {
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
}
pre.aclonica {
	font-size: 13px;
	font-weight: 400;
	line-height: 18.5667px;
}